In [52]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
%load_ext tensorboard

import datetime

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [53]:
print(tf.__version__)

2.1.0

In [54]:
dataset = pd.read_csv('Customer_Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [55]:
X = dataset.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)
y = dataset['Exited']
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [56]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [57]:
label1 = LabelEncoder()
X['Geography'] = label1.fit_transform(X['Geography'])
label = LabelEncoder()
X['Gender'] = label.fit_transform(X['Gender'])
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [58]:
X = pd.get_dummies(X, drop_first=True, columns=['Geography'])
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1

#### Feature Standardization

In [59]:
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [60]:
X_train

array([[-1.24021723, -1.09665089,  0.77986083, ...,  1.64099027,
        -0.57812007, -0.57504086],
       [ 0.75974873,  0.91186722, -0.27382717, ..., -1.55587522,
         1.72974448, -0.57504086],
       [-1.72725557, -1.09665089, -0.9443559 , ...,  1.1038111 ,
        -0.57812007, -0.57504086],
       ...,
       [-0.51484098,  0.91186722,  0.87565065, ..., -1.01507508,
         1.72974448, -0.57504086],
       [ 0.73902369, -1.09665089, -0.36961699, ..., -1.47887193,
        -0.57812007, -0.57504086],
       [ 0.95663657,  0.91186722, -1.32751517, ...,  0.50945854,
        -0.57812007,  1.73900686]])

### Build Artificial Nural Network (ANN)

In [76]:
# Clear any logs from previous runs
!rm -rf ./logs/ 
model = Sequential()
model.add(Dense(X.shape[1], activation='relu', input_dim = X.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation = 'sigmoid'))
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)
model.fit(X_train, y_train.to_numpy(), batch_size = 10, epochs = 50, verbose = 1,
          validation_data=(X_test, y_test.to_numpy()), 
          callbacks=[tensorboard_callback])

Train on 8000 samples, validate on 2000 samples
Epoch 1/50
8000/8000 [==============================] - 1s 114us/sample - loss: 0.4477 - accuracy: 0.8070 - val_loss: 0.4189 - val_accuracy: 0.8255
Epoch 2/50
8000/8000 [==============================] - 1s 103us/sample - loss: 0.3965 - accuracy: 0.8369 - val_loss: 0.3762 - val_accuracy: 0.8475
Epoch 3/50
8000/8000 [==============================] - 1s 133us/sample - loss: 0.3621 - accuracy: 0.8546 - val_loss: 0.3560 - val_accuracy: 0.8550
Epoch 4/50
8000/8000 [==============================] - 1s 108us/sample - loss: 0.3492 - accuracy: 0.8577 - val_loss: 0.3522 - val_accuracy: 0.8540
Epoch 5/50
8000/8000 [==============================] - 1s 129us/sample - loss: 0.3432 - accuracy: 0.8606 - val_loss: 0.3494 - val_accuracy: 0.8590
Epoch 6/50
8000/8000 [==============================] - 1s 109us/sample - loss: 0.3376 - accuracy: 0.8593 - val_loss: 0.3460 - val_accuracy: 0.8610
Epoch 7/50
8000/8000 [==============================] - 1s 139us/sample - loss: 0.3360 - accuracy: 0.8637 - val_loss: 0.3471 - val_accuracy: 0.8550
Epoch 8/50
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3330 - accuracy: 0.8630 - val_loss: 0.3417 - val_accuracy: 0.8530
Epoch 9/50
8000/8000 [==============================] - 2s 210us/sample - loss: 0.3314 - accuracy: 0.8625 - val_loss: 0.3520 - val_accuracy: 0.8505
Epoch 10/50
8000/8000 [==============================] - 1s 176us/sample - loss: 0.3313 - accuracy: 0.8626 - val_loss: 0.3432 - val_accuracy: 0.8555
Epoch 11/50
8000/8000 [==============================] - 2s 225us/sample - loss: 0.3292 - accuracy: 0.8631 - val_loss: 0.3454 - val_accuracy: 0.8610
Epoch 12/50
8000/8000 [==============================] - 1s 103us/sample - loss: 0.3272 - accuracy: 0.8648 - val_loss: 0.3479 - val_accuracy: 0.8545
Epoch 13/50
8000/8000 [==============================] - 1s 104us/sample - loss: 0.3267 - accuracy: 0.8634 - val_loss: 0.3450 - val_accuracy: 0.8580
Epoch 14/50
8000/8000 [==============================] - 1s 152us/sample - loss: 0.3266 - accuracy: 0.8637 - val_loss: 0.3459 - val_accuracy: 0.8575
Epoch 15/50
8000/8000 [==============================] - 1s 122us/sample - loss: 0.3247 - accuracy: 0.8656 - val_loss: 0.3473 - val_accuracy: 0.8555
Epoch 16/50
8000/8000 [==============================] - 1s 124us/sample - loss: 0.3252 - accuracy: 0.8645 - val_loss: 0.3492 - val_accuracy: 0.8555
Epoch 17/50
8000/8000 [==============================] - 1s 101us/sample - loss: 0.3236 - accuracy: 0.8658 - val_loss: 0.3531 - val_accuracy: 0.8570
Epoch 18/50
8000/8000 [==============================] - 1s 99us/sample - loss: 0.3238 - accuracy: 0.8654 - val_loss: 0.3488 - val_accuracy: 0.8525
Epoch 19/50
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3222 - accuracy: 0.8650 - val_loss: 0.3456 - val_accuracy: 0.8530
Epoch 20/50
8000/8000 [==============================] - 1s 124us/sample - loss: 0.3213 - accuracy: 0.8676 - val_loss: 0.3537 - val_accuracy: 0.8555
Epoch 21/50
8000/8000 [==============================] - 1s 98us/sample - loss: 0.3212 - accuracy: 0.8671 - val_loss: 0.3482 - val_accuracy: 0.8560
Epoch 22/50
8000/8000 [==============================] - 1s 98us/sample - loss: 0.3192 - accuracy: 0.8671 - val_loss: 0.3511 - val_accuracy: 0.8540
Epoch 23/50
8000/8000 [==============================] - 1s 113us/sample - loss: 0.3185 - accuracy: 0.8691 - val_loss: 0.3496 - val_accuracy: 0.8485
Epoch 24/50
8000/8000 [==============================] - 1s 135us/sample - loss: 0.3177 - accuracy: 0.8674 - val_loss: 0.3572 - val_accuracy: 0.8510
Epoch 25/50
8000/8000 [==============================] - 1s 125us/sample - loss: 0.3180 - accuracy: 0.8681 - val_loss: 0.3509 - val_accuracy: 0.8500
Epoch 26/50
8000/8000 [==============================] - 1s 151us/sample - loss: 0.3170 - accuracy: 0.8679 - val_loss: 0.3537 - val_accuracy: 0.8490
Epoch 27/50
8000/8000 [==============================] - 1s 178us/sample - loss: 0.3160 - accuracy: 0.8674 - val_loss: 0.3505 - val_accuracy: 0.8570
Epoch 28/50
8000/8000 [==============================] - 1s 92us/sample - loss: 0.3156 - accuracy: 0.8666 - val_loss: 0.3512 - val_accuracy: 0.8535
Epoch 29/50
8000/8000 [==============================] - 1s 94us/sample - loss: 0.3157 - accuracy: 0.8708 - val_loss: 0.3507 - val_accuracy: 0.8560
Epoch 30/50
8000/8000 [==============================] - 1s 99us/sample - loss: 0.3144 - accuracy: 0.8700 - val_loss: 0.3498 - val_accuracy: 0.8560
Epoch 31/50
8000/8000 [==============================] - 1s 129us/sample - loss: 0.3151 - accuracy: 0.8690 - val_loss: 0.3517 - val_accuracy: 0.8535
Epoch 32/50
8000/8000 [==============================] - 1s 108us/sample - loss: 0.3134 - accuracy: 0.8705 - val_loss: 0.3538 - val_accuracy: 0.8515
Epoch 33/50
8000/8000 [==============================] - 1s 104us/sample - loss: 0.3131 - accuracy: 0.8694 - val_loss: 0.3528 - val_accuracy: 0.8530
Epoch 34/50
8000/8000 [==============================] - 1s 97us/sample - loss: 0.3119 - accuracy: 0.8708 - val_loss: 0.3604 - val_accuracy: 0.8485
Epoch 35/50
8000/8000 [==============================] - 1s 111us/sample - loss: 0.3118 - accuracy: 0.8704 - val_loss: 0.3608 - val_accuracy: 0.8520
Epoch 36/50
8000/8000 [==============================] - 1s 164us/sample - loss: 0.3127 - accuracy: 0.8701 - val_loss: 0.3501 - val_accuracy: 0.8540
Epoch 37/50
8000/8000 [==============================] - 1s 96us/sample - loss: 0.3103 - accuracy: 0.8730 - val_loss: 0.3542 - val_accuracy: 0.8515
Epoch 38/50
8000/8000 [==============================] - 1s 102us/sample - loss: 0.3097 - accuracy: 0.8730 - val_loss: 0.3541 - val_accuracy: 0.8490
Epoch 39/50
8000/8000 [==============================] - 1s 101us/sample - loss: 0.3081 - accuracy: 0.8725 - val_loss: 0.3572 - val_accuracy: 0.8485
Epoch 40/50
8000/8000 [==============================] - 1s 108us/sample - loss: 0.3084 - accuracy: 0.8737 - val_loss: 0.3560 - val_accuracy: 0.8525
Epoch 41/50
8000/8000 [==============================] - 1s 93us/sample - loss: 0.3082 - accuracy: 0.8725 - val_loss: 0.3568 - val_accuracy: 0.8500
Epoch 42/50
8000/8000 [==============================] - 1s 117us/sample - loss: 0.3060 - accuracy: 0.8706 - val_loss: 0.3545 - val_accuracy: 0.8510
Epoch 43/50
8000/8000 [==============================] - 1s 110us/sample - loss: 0.3057 - accuracy: 0.8739 - val_loss: 0.3564 - val_accuracy: 0.8530
Epoch 44/50
8000/8000 [==============================] - 1s 134us/sample - loss: 0.3060 - accuracy: 0.8761 - val_loss: 0.3556 - val_accuracy: 0.8530
Epoch 45/50
8000/8000 [==============================] - 1s 113us/sample - loss: 0.3060 - accuracy: 0.8724 - val_loss: 0.3570 - val_accuracy: 0.8540
Epoch 46/50
8000/8000 [==============================] - 1s 102us/sample - loss: 0.3050 - accuracy: 0.8727 - val_loss: 0.3604 - val_accuracy: 0.8515
Epoch 47/50
8000/8000 [==============================] - 1s 101us/sample - loss: 0.3054 - accuracy: 0.8742 - val_loss: 0.3580 - val_accuracy: 0.8535
Epoch 48/50
8000/8000 [==============================] - 1s 166us/sample - loss: 0.3040 - accuracy: 0.8736 - val_loss: 0.3593 - val_accuracy: 0.8535
Epoch 49/50
8000/8000 [==============================] - 1s 98us/sample - loss: 0.3027 - accuracy: 0.8745 - val_loss: 0.3577 - val_accuracy: 0.8555
Epoch 50/50
8000/8000 [==============================] - 1s 128us/sample - loss: 0.3036 - accuracy: 0.8752 - val_loss: 0.3606 - val_accuracy: 0.8480

In [69]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 4787), started 0:13:53 ago. (Use '!kill 4787' to kill it.)

In [77]:
y_pred = model.predict_classes(X_test)
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]], dtype=int32)

In [78]:
model.evaluate(X_test, y_test.to_numpy())

2000/2000 [==============================] - 0s 39us/sample - loss: 0.3606 - accuracy: 0.8480

[0.36055211269855497, 0.848]

In [79]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [80]:
confusion_matrix(y_test, y_pred)

array([[1499,   94],
       [ 210,  197]])

In [81]:
accuracy_score(y_test, y_pred)*100

84.8